# ignore mac system files
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/

# large files
*.pt
*.jsonl

# data
outputs/
data/

# logs
logs/
*.log

# Jupyter checkpoints
.ipynb_checkpoints/